.about-msg-p {
    text-align: justify;
}

.appname-span-color {
    color: red;
}

@media screen and (max-width: 600px) {
    #about-msg-div {
        padding: 0 20px;
        font-size: 13px;
    }
}