#dashboard-div {
    background-color: rgb(238, 232, 170, 0.2);
    max-width: 550px;
    margin: auto;
    border: outset;
    padding: 25px;
    box-sizing: border-box;
}

#dashboard-h2 {
    color: #006400;
}

.div-margin-top {
    margin-top: 20px;
}

.span-cell-padding {
    display: table-cell;
    padding: 3px;
}

.col-span1 {
    width: 180px;
}

.col-span2 {
    padding-left: 10px;
}

.captions-span1 {
    background-color: rgba(255, 255, 255, 0.5);
    color: #3572d4;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.col1-padding-left {
    padding-left: 25px;
    box-sizing: border-box;
}

@media screen and (max-width: 750px) {
    #dashboard-div {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #dashboard-div {
        padding: 10px;
    }

    .captions-span1 {
        font-weight: normal;
    }

    .col-span1 {
        width: 140px;
    }

    .div-margin-top {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    #dashboard-div {
        width: 95%;
        padding: 15px 8px;
    }

    .col-span1 {
        width: 105px;
    }
}