#dashboard-div {
    background-color: rgb(238, 232, 170, 0.2);
    width: 650px;
    margin: auto;
    border: outset;
    padding: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

#dashboard-h2 {
    color: #006400;
}

#dashboard-table {
    width: 100%;
    min-width: 500px;
    margin-bottom: 15px;
}

#table-col-1 {
    width: 175px;
}

#table-col-2 {
    width: 125px;
}

@media screen and (max-width: 750px) {
    #dashboard-div {
        width: 450px;
    }
}

@media screen and (max-width: 600px) {
    #dashboard-div {
        width: 345px;
    }

    #table-col-1 {
        width: 130px;
    }

    #table-col-2 {
        width: 90px;
    }
}