#project-show {
    background-color: rgb(238, 232, 170, 0.2);
    width: 650px;
    margin: auto;
    text-align: center;
    border: outset;
    padding: 10px 15px;
}

#proj-show-h2 {
    color: blue;
}

#proj-show-table {
    width: 100%;
    margin: auto;
}

.proj-show-td-label {
    width: 225px;
    float: left;
    text-align: left;
    background-color: #3572d4;
    color: white;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.proj-show-td-value {
    text-align: left;
    padding-left: 30px;
}

#proj-show-td-value-width {
    width: 80%;
}

#proj-show-notes-value {
    text-align: justify;
    padding-left: 30px;
}

#proj-show-last-update-p {
    text-align: center;
    margin: 10px auto;
    color: blue;
}

#proj-show-last-update-span {
    background-color: #008000;
    color: white;
    display: inline-block;
    margin-left: 15px;
    padding: 3px 15px;
}

.projects-link-buttons {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 325px;
    height: 25px;
    margin: 10px auto;
    padding: 8px 5px 0px 5px;
    border: solid 1px grey;
    border-style: outset"
}

#proj-show-edit-btn {
    background: #3572d4;
    color: #fff;
}

#proj-show-myprojs-btn {
    background: #fff;
    color: #0000ff;
}

#proj-show-delete-btn {
    text-align: center;
    font-family: inherit;
    display: block;
    width: 300px;
    height: 38px;
    margin: 10px auto;
    padding: 5px 5px 0px 5px;
    border: solid 1px grey;
    border-style: outset;
    cursor: pointer"
}

#proj-show-controls-div {
    margin: 25px 0px;
}

#proj-idx-div {
    overflow-x: auto;
    margin-top: 50px;
}

#proj-idx-table {
    width: 100%;
    min-width: 900px;
    margin-bottom: 15px;
}

#proj-idx-size-span {
    color: #008000;
}

#proj-idx-msg-span {
    color: red;
}

.proj-idx-left-align {
    text-align: left;
}

#proj-idx-edit {
    width: 15px;
}

#proj-idx-td-pid {
    text-align: center;
}

.proj.idx-td {
    margin-right: 10px;
}

#proj-idx-td-class {
    min-width: 135px;
}

#proj-idx-td-phase {
    min-width: 90px;
}

#proj-idx-td-date {
    min-width: 110px;
}

.inputs-width {
    width: 98.5%;
    height: 20px;
    display: block;
    margin-bottom: 10px;
    padding: 2px 5px;
}

.notes {
height: 135px;
}

.libraries {
height: 40px;
}

.proj-frk-lib-label {
    width: 250px;
}

textarea {
width: 98.5%;
display: block;
margin-bottom: 10px;
font-size: 15px;
padding: 5px 5px;
}

.notes-p-margin {
    margin-bottom: 45px;
}

.projects-buttons {
    width: 340px;
    height: 35px;
    text-align: center;
    display: block;
    margin: auto;
    border: solid 1px grey;
    border-style: outset"
}

@media screen and (min-width: 601px) and (max-width: 850px) {
    #project-show {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #project-show {
        width: 90%;
        padding: 3%;
        box-sizing: border-box;
    }

    .inputs-width, .date-inputs, .select-inputs, .projects-buttons, #proj-show-delete-btn {
        font-size: 13px;
    }

    .projects-link-buttons {
        width: 160px;
    }

    .projects-buttons {
        width: 170px;
    }

    #proj-show-delete-btn {
        width: 150px;
    }

    .proj-show-td-label {
        font-weight: normal;
        width: 170px;
        padding: 1px 3px;
    }

    textarea {
        width: 97.5%;
    }

    .inputs-width {
        width: 96.5%;
    }

    #proj-idx-table {
        width: 50%;
        min-width: 600px;
    }
}

@media screen and (max-width: 400px) {
    .inputs-width, .date-inputs, .select-inputs, .projects-buttons, #proj-show-delete-btn {
        font-size: 10px;
    }

    .proj-show-td-label {
        font-weight: normal;
        width: 140px;
    }

    #proj-show-last-update-span {
        margin-left: 5px;
        padding: 1.5px 5px;
    }
}