#project-show {
    background-color: rgb(238, 232, 170, 0.2);
    width: 650px;
    margin: auto;
    text-align: center;
    border: outset;
    padding-top: 20px;
}

#proj-index-div {
    overflow-x: auto;
}

#proj-index-table {
    width: 100%;
    min-width: 900px;
}