#table-div {
    overflow-x: auto;
}
#analysis-table {
    width: 100%;
    min-width: 900px;
    margin-bottom: 15px;
}

#title-th {
    max-width: 40%;
}

.td-id {
    vertical-align: top;
}

.col-left-align {
    text-align: left;
}

.col-center-align {
    text-align: center;
}

.col-set-width {
    width: 6%;
}

.date-col-width {
    min-width: 110px;
}