#signup-msg-div {
    margin: 0px 0px 25px 0px;
    text-align: center;
}

#signup-msg-li {
    color: red;
}

#signup-div {
    width: 90%;
    margin-bottom: 25px;
    float: right;
}

#signup-form {
    width: 100%; 
    margin-bottom: 10px;
    float: right;
}

.signup-inputs-p {
    text-align: right;
}

#signup-dob-label-p {
    text-align: right;
    margin-bottom: 0px;
}

#signup-dob-label {
    width: 340px;
    text-align: center;
}

#signup-dob-input-p {
    clear: both;
}

.signup-inputs {
    width: 325px;
    height: 20px;
    padding: 2px 5px;
}

.signup-gender-select {
    width: 340px; 
    height: 28px;
    padding: 2px 5px;
    display: inline-block;
}

.signup-dob-input {
    width: 325px;
    height: 22.5px;
    padding: 2px 5px;
}

#signup-btn-p {
    margin-top: 25px;
}

#signup-btn {
    width: 340px;
    height: 30px;
    background: #ed404c; 
    color: #FFF;
    cursor: pointer;
}

#signup-back-link {
    background: #228B22;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 325px;
    height: 25px;
    padding: 4px 5px 0px 5px;
    margin-right: 0px;
    border: solid 2px #808080;
}

#signup-back-p {
    text-align: right;
    clear: both;
}

@media screen and (max-width: 600px) {
    #signup-home-link, #signup-btn, .signup-inputs, #signup-dob-label, .signup-dob-input, .signup-gender-select, #signup-back-link {
        font-size: 13px;
    }

    .signup-inputs-p, #signup-back-p, #signup-dob-label-p {
        text-align: center;
    }

    #signup-dob-label {
        width: 100%
    }

    #signup-div {
        float: none;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    #signup-home-link, #signup-btn, .signup-inputs, #signup-dob-label, .signup-dob-input, .signup-gender-select, #signup-back-link {
        font-size: 10px;
    }

    .signup-inputs, .signup-dob-input, #signup-back-link {
        width: calc(100% - 20%);
    }

    .signup-gender-select, #signup-btn {
        width: calc(100% - 15%);
    }
}