#profile-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 20px;
}

#user-profile-div {
    text-align: left;
    width: 350px;
    margin: auto;
}

#user-profile-msg {
    text-align: center;
}

#user-profile-update-p {
    margin-top: 40px;
}

#user-profile-update-span {
    background-color: #008000;
    color: white;
    display: inline-block;
    padding: 3px 15px;
}

#user-profile-buttons-p {
    margin-top: 25px;
}

.user-buttons {
    width: 75%;
    height: 25px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-right: 0px;
    padding: 8px 5px 0px 5px;
    border: solid 1px grey;
    border-style: outset"
}

.blue-white-buttons {
    background: #3572d4;
    color: #fff;
}

.white-blue-buttons {
    background: #fff;
    color: #0000ff;     
}

.user-myprojs {
    margin: 25px 0px;
}

#edit-profile-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 3%;
}

.edit-profile-inputs {
    width: 80%;
    height: 20px;
    padding: 2px 5px;
}

.edit-profile-labels {
    display: inline-block;
    width: 80%;
    text-align: left;
}

#edit-profile-gender {
    width: 83.5%;
    height: 30px;
    padding: 2px 5px;
}

#edit-profile-save-btn {
    width: 78%;
    height: 35px;
    display: block;
    margin: 25px auto;
    background: #3572d4;
    color: #fff;
    cursor: pointer;
    border: solid 1px grey;
    border-style: outset"
}

#password-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 20px;
}


@media screen and (max-width: 600px) {
    #profile-card {
        width: 315px;
        font-size: 13px;
        padding: 3%;
    }

    #edit-profile-card {
        width: 315px;
        font-size: 13px;
        padding: 3%;
    }

    .user-profile-label {
        width: 90px;
    }

    #user-profile-div {
        width: 300px;
    }

    .user-buttons {
        width: 60%;
        height: 15px;
        padding: 5px 5px 6px 5px;
    }

    .edit-profile-inputs {
        font-size: 13px;
    }

    #edit-profile-save-btn {
        width: 63.75%;
        font-size: 13px;
    }
}
