/* USER PROFILE */
#profile-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 20px;
}

#user-profile-div {
    text-align: left;
    width: 350px;
    margin: auto;
}

#user-profile-msg {
    text-align: center;
}



#edit-profile-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 3%;
}

#password-card {
    width: 425px;
    margin: auto;
    text-align: center;
    border: solid 1px grey;
    box-shadow: 10px 10px #888888;
    padding-top: 20px;
}


@media screen and (max-width: 515px) {
    #profile-card {
        width: 315px;
        font-size: 13px;
        padding: 3%;
    }

    .user-profile-label {
        width: 90px;
    }

    #user-profile-div {
        width: 300px;
    }
}