<br>
<h2>Change Password</h2>

<% if flash.has?(:message) %>
    <span class="flash-msg-span"><%= flash[:message] %></span>
<% end %><br><br>

<div id="password-card">
    <form action="/users/<%=@user.slug%>/change_password" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p style="margin-bottom: 30px">
           <input type="password" class="user-edit-pw-inputs" id="current_password" name="current_password" placeholder="Current password" />
        </p>
        <p>
            <input type="password" class="user-edit-pw-inputs" id="new_password" name="new_password" placeholder="New password" value="<%= @user.password %>" />
        </p>
        <p style="margin-bottom: 40px">
            <input type="password" class="user-edit-pw-inputs" id="password_confirmation" name="password_confirmation" placeholder="Re-type new password" />
        </p>

        <button class="button edit-profile-save-btn">Save</button>
        <p style="margin-top: 0px; text-align: center;">
            <a href="/users/<%=current_user.slug%>" id="user-myprofile" class="user-buttons white-blue-buttons">My Profile</a>
        </p>
    </form>
</div>
