<br>
<h2>Change Password</h2>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<form action="/users/<%=@user.slug%>/change_password" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p style="margin-bottom: 40px"><label for="current_password" style="width: 120px; display: inline-block">Current </label><input type="password" style="width: 300px; height: 20px; padding: 2px 5px" id="current_password" name="current_password"></p>
    <p><label for="new_password" style="width: 120px; display: inline-block">New </label><input type="password" style="width: 300px; height: 20px; padding: 2px 5px" id="new_password" name="new_password" value="<%= @user.password %>"></p>
    <p style="margin-bottom: 40px"><label for="password_confirmation" style="width: 120px; display: inline-block">Re-type new </label><input type="password" style="width: 300px; height: 20px; padding: 2px 5px" id="password_confirmation" name="password_confirmation"/></p>

    <p style="padding-left: 50px; margin-top: 0px">
        <button class="button" style="width:350px; height:35px; background: #fff; color: #0000ff; cursor: pointer">Save</button>
        <a href="/users/<%=current_user.slug%>" style="background: #3572d4; color: #fff; text-decoration:none; text-align: center; display: block; width: 338px; height: 25px; margin-top: 15px; padding: 8px 5px 0px 5px; border: solid 2px grey; border-style: outset">My Profile</a>
    </p>
</form>
