<br><% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<h2>Change Password</h2>

<form action="/users/<%=@user.slug%>/change_password" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p style="margin-bottom: 40px"><label for="current_password">Current </label><input type="password" id="current_password" name="current_password"></p>
    <p><label for="new_password">New </label><input type="password" id="new_password" name="new_password" value="<%= @user.password %>"></p>
    <p style="margin-bottom: 40px"><label for="password_confirmation">Re-type new </label><input type="password" id="password_confirmation" name="password_confirmation"/></p>

    <button class="button">Save</button>
   <a href="/users/<%=current_user.slug%>" style="margin-left: 10px">My Profile</a>
</form>
