<a href="/">Home</a><br><br>

<% if flash.has?(:message) %>
    <div style="margin: 0px 0px 25px 15px ">
        <ul>
            <% flash[:message].split(", ").each do |message| %>
                <li><span style="padding-right: 10px">*</span><span style="color:red"><%= message %></span></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div style="float: right; width: 50%; margin-bottom: 25px">
    <form action="/signup" method="POST" style="width: 100%">
        <p><label for="first_name" style="width: 30%; display: inline-block">First Name </label><input type="text" style="width: 67%; height: 20px; padding: 2px 5px" id="first_name" name="first_name"/></p>
        <p><label for="last_name" style="width: 30%; display: inline-block">Last Name </label><input type="text" style="width: 67%; height: 20px; padding: 2px 5px" id="last_name" name="last_name"/></p>
        <p><label for="organization" style="width: 30%; display: inline-block">Organization </label><input type="text" style="width: 67%; height: 20px; padding: 2px 5px" id="organization" name="organization"/></p>
        <p><label for="dob" style="width: 30%; display: inline-block">Date of Birth </label><input type="date" style="width: 67%; height: 20px; padding: 2px 5px" id="dob" name="date_of_birth"></p>
        <p><label for="gender" style="width: 30%; display: inline-block">Gender </label>
        <select id="gender" name="gender" style="width: 67%; height: 25px; padding: 2px 5px; display: inline-block">
            <option value="Female" selected>Female</option>
            <option value="Male" selected>Male</option>
            <option value="Non-Binary" selected>Non-Binary</option>
            <option value="" selected></option>
        </select></p>
        <p><label for="email" style="width: 30%; display: inline-block">Email </label><input type="email" style="width: 67%; height: 20px; padding: 2px 5px" id="email" name="email"/></p>
        <p><label for="password" style="width: 30%; display: inline-block">Password </label><input type="password" style="width: 67%; height: 20px; padding: 2px 5px" id="password" name="password"/></p>
        <p><label for="password_confirmation" style="width: 30%; display: inline-block">Confirm Password </label><input type="password" style="width: 67%; height: 20px; padding: 2px 5px" id="password_confirmation" name="password_confirmation"/></p>

        <button class="button" style="cursor: pointer; width: 100%; height: 30px; background: #ed404c; color: #FFF">Sign up</button>
    </form>
</div>