<a href="/" id="signup-home-link">Home</a>
<br><br>

<% if flash.has?(:message) %>
    <div id="signup-msg-div">
        <ul>
            <% flash[:message].split(", ").each do |message| %>
                <li id="signup-msg-li"><%= message %></span></li>
            <% end %>
        </ul>
    </div>
<% end %>

<% flash[:message].clear if flash[:message] %>

<div id="signup-div">
    <form id="signup-form" action="/signup" method="POST">
        <p class="signup-inputs-p">
            <input type="text" class="signup-inputs" id="first_name" name="first_name" placeholder="First name" />
        </p>
        <p class="signup-inputs-p">
            <input type="text" class="signup-inputs" id="last_name" name="last_name" placeholder="Last name" />
        </p>
        <p class="signup-inputs-p">
            <input type="text" class="signup-inputs" id="organization" name="organization" placeholder="Organization" />
        </p>
        <p id="signup-dob-label-p">
            <label for="dob" id="signup-dob-label">Date of Birth</label>
        </p>
        <p id="signup-dob-input-p" class="signup-inputs-p">
            <input type="date" id="dob" class="signup-dob-input" name="date_of_birth">
        </p>
        <p class="signup-inputs-p">
            <select id="gender" name="gender" class="signup-gender-select">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Non-Binary">Non-Binary</option>
                <option value="" selected>--select your gender--</option>
            </select>
        </p>
        <p class="signup-inputs-p">
            <input type="email" class="signup-inputs" id="email" name="email" placeholder="Email" />
        </p>
        <p class="signup-inputs-p">
            <input type="password" class="signup-inputs" id="password" name="password" placeholder="Password" />
        </p>
        <p class="signup-inputs-p">
            <input type="password" class="signup-inputs" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" />
        </p>

        <p id="signup-btn-p" class="signup-inputs-p">
            <button class="button" id="signup-btn">Sign Up</button>
        </p>
    </form>

    <p id="signup-back-p">
        <a href="/" id="signup-back-link">Back</a>
    </p>
</div>