<a id="signout-home-link" href="/">Home</a><br>

<div style="margin: 25px 0px 0px 10px">
    <h3 style="display: inline">Goodbye</h3>
    <h3 style="display: inline; color: green"><%=@first_name.titlecase%> </h3>
    <h3 style="display: inline">and Happy Coding!</h3>
</div>