<a href="/">Home</a><br><br>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<% flash[:message].clear if flash[:message] %>

<h2>Please sign in</h2>

<form action="/signin" method="POST">
    <label for="email" style="width: 50px; display: inline-block">eMail</label><input type="text" style="margin-right: 10px; size: auto" id="email" name="email"> 
    <label for="password" style="width: 90px; display: inline-block" >Password</label><input type="password" style="margin-right: 10px; size: auto" id="password" name="password">

    <button class="button">Sign in</button>
</form>