<h2>My Projects</h2>

<table style="width:80%">
    <tr>
        <th>&nbsp;</th>
        <th style="text-align: left">Title</th>
        <th style="text-align: left">Phase</th>
    </tr>
    <% @projects.each.with_index(1) do |project, index|%>
        </tr>
            <td style="margin-right: 5px"><%= index %></a> </td>
            <td style="margin-right: 5px"><a href="/projects/<%= project.slug %>" title="View Project Details"><%=project.title%></td>
            <td style="margin-right: 5px"><%=project.phase%></td>
        </tr>
    <%end%>
</table>
