<br>
<h2>Create New Project</h2>

<% if flash.has?(:message) %>
    <span class="flash-msg-span"><%= flash[:message] %></span>
<% end %>
<br><br>

<form id="proj-new-form" action="/projects" method="POST">
    <label>Title </label>
    <input class="inputs-width" type="text" id="title" name="title">

    <label>Domain</label>
    <input class="inputs-width" type="text" id="domain" name="domain">

    <p>
        <label for="classification">Classification </label>
        <select name="classification" class="select-inputs">
            <option value="CLI">CLI</option>
            <option value="MPA" selected>Multi Page App</option>
            <option value="Mobile App">Native Mobile App</option>
            <option value="PWA">Progressive Web App</option>
            <option value="SPA">Single Page App</option>
        </select>
    </p>

    <p>
        <label for="project_type">Type </label>
        <select name="project_type" class="select-inputs">
            <option value="Collaboration" selected> Collaboration </option>
            <option value="Individual" > Individual </option>
        </select>
    </p>

    <p><label>Languages </label><input class="inputs-width" type="text" id="languages" name="languages"></p>

    <p><label class="lbltext" style="width: 250px">Frameworks and Libraries </label>
    <textarea class="libraries" name="libraries"></textarea></p>

    <p>
        <label for="phase">Phase </label>
        <select name="phase" class="select-inputs">
            <option value="Planning" selected> Planning </option>
            <option value="Development" > Development </option>
            <option value="Testing" > Testing </option>
            <option value="Completed" > Completed </option>
            <option value="Production" > Production </option>
        </select>
    </p>

    <p><label>Start Date </label><input type="date" class="date-inputs" id="start_date" name="start_date"></p>

    <p><label>Planned End Date </label><input type="date" class="date-inputs" id="planned_end_date" name="planned_end_date"></p>

    <p><label>Actual End Date </label><input type="date" class="date-inputs" id="actual_end_date" name="actual_end_date"></p>

    <p><label title="Version Control System URL">VCS URL </label><input class="inputs-width" type="text" id="url" name="url"></p>

    <p class="notes-p-margin"><label class="lbltext">Notes </label><textarea class="notes" name="notes"></textarea></p>

    <button class="button projects-buttons white-blue-buttons">Add Project</button>
    <%if current_user.projects.size > 0 %>
        <a href="/projects" class="projects-link-buttons blue-white-buttons">My Projects</a>
    <%end%>
</form>