<br><h2>Add A New Project</h2>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<form action="/projects" method="POST">
    <p><label>Title </label><input class="inputs-width" type="text" id="title" name="title"></p>
    <p><label>Domain </label><input class="inputs-width" type="text" id="domain" name="domain"></p>
    <p><label for="classification">Classification </label>
    <select name="classification">
        <option value="CLI">CLI</option>
        <option value="PWA">Progressive Web App</option>
        <option value="MPA" selected>Multi Page App</option>
        <option value="SPA">Single Page App</option>
    </select></p>
    <p><label for="project_type">Type </label>
    <select name="project_type">
        <option value="Collaboration" selected> Collaboration </option>
        <option value="Individual" > Individual </option>
    </select></p>
    <p><label>Languages </label><input class="inputs-width" type="text" id="languages" name="languages"></p>
    <p><label class="lbltext">Frameworks and Libraries </label><textarea class="libraries" name="libraries"></textarea></p>
    <p><label for="phase">Phase </label>
    <select name="phase">
        <option value="Planning" selected> Planning </option>
        <option value="Development" > Development </option>
        <option value="Testing" > Testing </option>
        <option value="Completed" > Completed </option>
        <option value="Production" > Production </option>
    </select></p>
    <p><label>Start Date </label><input type="date" id="start_date" name="start_date"></p>
    <p><label>Planned End Date </label><input type="date" id="planned_end_date" name="planned_end_date"></p>
    <p><label>Actual End Date </label><input type="date" id="actual_end_date" name="actual_end_date"></p>
    <p><label title="Version Control System URL">VCS URL </label><input class="inputs-width" type="text" id="url" name="url"></p>
    <p style="margin-bottom: 20px"><label class="lbltext">Notes </label><textarea class="notes" name="notes"></textarea></p>

    <button class="button">Add Project</button>
    <%if current_user.projects.size > 0%>
        <a href="/projects">Cancel</a>
    <%end%>
</form>