<% if !logged_in? %>
    <a href="/">Back</a>
    <br><br>
    <h2>About</h2>
<% end %><br><br>

<% if logged_in? %>
    <%if rand(4) != 0%>
        <h2>Hey <%= current_user.first_name.titlecase %>!</h2>
    <% else %>
        <h2>Hey Buddy!</h2>
    <% end %>
<% end %>

<div>
    <p><span style="color:red">iProjs</span> is a handy platform that provides software developers with a tool that contributes towards enriching their development experience. The app provides functionalities to hold data on project portfolio that would typically be frequently accessed.</p>

    <p>The average time to add a new project or update an existing project is estimated at less than 3 minutes, which makes <span style="color:red">iProjs</span> <i style="color:green">an ideal buddy of software developers in the cloud!</i></p>

    <p>We trust that your interactions with the product will be consistently valuable.</p>

    <% if logged_in? && current_user.projects.empty?%>
        <p>Let's get started with a <a href="/projects/new" title="New Project">new project</a>!!</p>
    <% end %>
</div>