<% if !logged_in? %>
    <a href="/">Back</a>
    <br><br>
    <h2>About</h2>
<% end %>
<br>

<% if logged_in? %>
    <%if rand(4) != 0%>
        <h2>Hey <%= current_user.first_name.titlecase %>!</h2>
    <% else %>
        <h2>Hey Buddy!</h2>
    <% end %>
<% end %>

<div id="about-msg-div">
    <p class="about-msg-p"><span class="appname-span-color">iProjs</span> is a handy platform that provides software developers with a tool that contributes towards enriching their development experience. The app provides functionalities to hold data on project portfolio that would typically be frequently accessed.</p>

    <p class="about-msg-p">The average time to add basic details on new project is estimated at less than 5 minutes, which makes <span class="appname-span-color">iProjs</span> <i style="color:green">an ideal buddy of software developers in the cloud!</i></p>

    <p class="about-msg-p">We trust that your interactions with the product will be consistently valuable.</p>

    <br>
    <% if logged_in? && current_user.projects.empty?%>
        <p class="about-msg-p">Let's get started with a <a style="margin-right: 0px;" href="/projects/new" title="New Project">new project</a>!</p>
    <% end %>
</div>