<% if !logged_in? %>
    <a href="/">Back</a>
    <br><br>
    <h2>About</h2>
<% end %><br><br>

<% if logged_in? %>
    <%if rand(4) != 0%>
        <h2>Hey <%= current_user.first_name.titlecase %>!</h2>
    <% else %>
        <h2>Hey Buddy!</h2>
    <% end %>
<% end %>

<div>
    <p><span style="color: red">iProjs</span> is a platform that provides software developers a useful tool to enrich their development experience. This ease-of-use medium has functionalities to hold key data on project portfolio that typically requires frequent access.</p>

    <p>The average time to add a new project or update an existing project is estimated at less than 2 minutes, which makes <span style="color: red">iProjs</span> an ideal buddy of software developers in the cloud!</p> 

    <p>We trust that your interaction with the product will be consistently valuable.</p>

    <% if logged_in? && current_user.projects.empty?%>
        <p>Let's get started with a <a href="/projects/new">new project</a>!!</p>
    <% end %>
</div>