<h2>Hey <%= @user %>!</h2>

<div>
    <p> <span style="color: red">iProjs</span> is a proprietory medium that provides you as a software developer a useful tool to enhance your project management experience. It is a ease-of-use platform to has functionality to data on your project portfolio that may be frequently accessed.</p>

    <p>We hope your interaction with the product will be valuable.</p>

    <p>Let's gets started by adding a new <a href="/projects/new">project</a>!!</p>
</div>