<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>iProjs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <span style="float: left">
        <% if logged_in? %>
          
          <a href="/users/<%=session[:id]%>">My Profile</a>
          <a href="/users/<%=session[:id]%>/edit">Edit Profile</a> 
          <% if !current_user.projects.empty?%>
            <a href="/projects"><%=current_user.first_name.capitalize%>'s Projects</a>
          <%end%>
          <a href="/projects/new">New Project</a>
          <a href="/signout">Sign out</a>
        <% end %>
        </span>

        <span style="float: right">
        <% if logged_in? %>
          <a href="/about" title="About iProjs">iProjs</a>
        <% end %>
        </span>
      </div><br>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <span style="color: red">iProjs</span></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
