<head>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
</head>

<div class="container">
  <h1 id="welcome-h1">
    Welcome to <a href="/about" id="appname-color" title="About iProjs">iProjs</a>!
  </h1>
  <p id="app-tagline">... the project buddy of software developers in the cloud!</p>

  <div id="auth-div">
    <div id="signin-div">
      <form action="/signin" method="POST" id="signin-form">
        <p class="signin-inputs-p">
          <input type="text" id="email" class="signin-inputs" name="email" placeholder="Email">
        </p>

        <p style="margin-bottom: 0px" class="signin-inputs-p">
          <input type="password" id="password" class="signin-inputs" name="password" placeholder="Password">
        </p>

        <% if flash.has?(:message) %>
            <p id="msg-p"><%= flash[:message] %></p>
        <% end %>
        <% flash[:message].clear if flash[:message] %>

        <p id="p-signin-button" class="signin-inputs-p">
          <button class="button" id="signin-button">Sign In</button>
        </p>
      </form>
    </div>
    <div id="wel-signup-div">
      <a href="/signup" id="wel-signup-link">Sign Up</a>
    </div>
  </div>
</div>
