<div class="container">
  <h1>Welcome to <a href="/about" title="About iProjs">iProjs</a>!</h1><br>

  <a href="/signup" style="margin-right: 5px">Sign Up</a> <a href="/signin" style="margin-right: 5px">Sign In</a><br><br>
</div>
